.checkbox-input {
    display: flex;
    align-items: center;
    color: var(--ghost);
    margin-left: 2px;
    transition: all 0.5s;
}

.checkbox-input--disabled {
    color: var(--lava)
}

.checkbox-input__label {
    cursor: pointer;
}

.checkbox-input__input {
    margin-right: 7px;
}

.checkbox-input--disabled .checkbox-input__input:checked {
    background-color: var(--lava);
    border-color: var(--lava);
}