.brodevs-image {
    --brodevs-image-static-color: white;
    --brodevs-image-disabled-color: gray;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    outline: 2px solid var(--brodevs-image-static-color);
    fill: var(--brodevs-image-static-color);
    transition: all 0.5s;
}

.brodevs-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fade-in 0.5s linear;
    transition: all 0.5s;
    z-index: 101;
}

.brodevs-image--disabled::after {
    background-color: transparent;
}

.brodevs-image__img {
    width: 100%;
    height: 100%;
    animation: fade-in 0.5s linear;
    z-index: 100;
}

.brodevs-image__input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
    z-index: 103;
}

.brodevs-image__label {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 104;
}

.brodevs-image__loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brodevs-image__icon {
    width: 50%;
    height: 50%;
    position: absolute;
    inset: 0;
    margin: auto;
    fill: inherit;
    cursor: pointer;
    transition: all 0.5s;
    animation: fade-in 0.5s linear;
    z-index: 102;
}

.brodevs-image__tooltip {
    background-color: var(--light-red) !important;
    z-index: 10000;
}

.brodevs-image--disabled {
    outline-color: var(--brodevs-image-disabled-color);
}

.brodevs-image--error {
    outline-color: var(--light-red);
    fill: var(--light-red);
}

.brodevs-image__label:hover ~ .brodevs-image__icon {
    transform: scale(1.1);
}