html, body, #root {
    background-color: black;
    font-family: 'SF';
    height: 100%;
}

.home {
    color: var(--ghost);
    height: 100%;
}

.home__title {
    margin: 25px 0;
    font-weight: normal;
}

.home__section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    gap: 10px;
}

.home-counter {
    font-size: 60px;
    font-weight: bold;
}

.home__brodevs-input {
    width: 300px;
    --brodevs-input-bg-color: var(--black);
    --brodevs-input-static-color: var(--ghost);
    --brodevs-input-disabled-color: var(--lava);
    --brodevs-input-focused-color: var(--light-green);
    margin-bottom: 10px;
}

.home-select {
    width: 300px;
    --brodevs-select-bg-color: rgb(41, 41, 41);
    --brodevs-select-static-color: var(--ghost);
    --brodevs-select-disabled-color: var(--lava);
    --brodevs-select-focused-color: var(--ghost);
}

.home-radio-group {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.brodevs-images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.brodevs-images-container img{
    object-fit: contain;
}

.brodevs-image-1 {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 0px;
}

.brodevs-image-2 {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.brodevs-image-2::after {
    display: none;
}

.brodevs-image-3 {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    --brodevs-image-static-color: rgb(95, 95, 224);
}