.main-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  width: 100%;
  height: 100%;
}

.main-photo:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url(/yellow_flash.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.main-photo__img { 
  width: 80%;
  aspect-ratio: 80/26;
  max-width: 900px;
}

.main-photo__title { 
  color: var(--lightGray);
  font-weight: normal;
  font-size: clamp(1rem, 2.5vw, 2rem);
}