.brodevs-form {
    width: 500px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    border-radius: 12px;
    border: 1px solid var(--lava);
    background-color: rgba(255, 255, 255, 0.125);
}

.brodevs-form__image {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    --brodevs-input-static-color: var(--ghost);
    --brodevs-input-disabled-color: var(--lava);
}

.brodevs-form__submit-btn {
    all: unset;
    color: var(--ghost);
    fill: var(--ghost);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    padding: 10px;
    gap: 5px;
    border: 1px solid var(--lava);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.brodevs-form__submit-btn-icon {
    width: 20px;
    height: 20px;
}

.brodevs-form__submit-btn:hover {
    background-color: var(--ghost);
    color: var(--black);
    fill: var(--black);
}

.brodevs-form__input {
    --brodevs-input-bg-color: rgb(41, 41, 41);
    --brodevs-input-static-color: var(--ghost);
    --brodevs-input-disabled-color: var(--lava);
    --brodevs-input-focused-color: var(--ghost);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}